.review-card {
    width: 300px;
    background-color: blanchedalmond;
    color: rgb(3, 74, 3);
    padding: 10px 20px;
    border-radius: 20px;

}

.review-card img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}