.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 50px;
}

.product-details {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-details h1 {
    font-size: 50px;
    margin: 0;
    color: rgb(3, 74, 3);
}

.product-details p {
    font-size: 18px;
    font-weight: 500;
}

img {
    width: 100%;
    border-radius: 10px;
}

.review {
    margin: 80px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review h1 {
    margin-bottom: 40px;
    color: rgb(3, 74, 3);
}

.review-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.review-btn {
    background-color: rgb(3, 74, 3);
    padding: 20px 40px;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;

}

.review-btn:hover {
    background-color: blanchedalmond;
    color: rgb(3, 74, 3);
    border: 2px solid rgb(3, 74, 3);
}